/* 

Colors :
Dark Tan #c5a074
Brown #522c19
Khaki #f6e0bc
Grey Blue #a4babb 

*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700');

h1,
h2,
h3,
h4 {
    font-family: 'Abril Fatface', cursive;
    -webkit-font-smoothing: antialiased;
}

p,
span {
    font-family: 'Open Sans', sans-serif;
}


.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#root>ul>li {
    min-height: 300px;
    text-decoration: none;
    list-style: none;
    border: 2px solid #f6e0bc;
}

#root>ul>li .card_header {
    /* min-height: 50px; */
    background: #a4babb;
}

#root>ul>li .card_image {
    min-height: 415px;
    position: relative;
    max-width: 300px;
    margin: auto;
}

#root>ul>li .card_desc {
    transition: all .3s ease;
    background: #c5a074;
}

#root>ul>li .card_desc.hide {
    height: 0;
    opacity: 0;
}

#root>ul>li .card_desc.show {
    height: 100%;
    opacity: 1;
}

#root>ul h1 {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #522c19;
    letter-spacing: 0.5px;
}

#root>ul h2 {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    letter-spacing: 0.5px;
}

#root>ul>li img {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

#root>ul>li p {
  margin: 0;
  padding:  5px;
  text-transform: capitalize;
}